 <section class="main-header">
        <img src="<%= asset_path "origin.png" %>">
        </section>
        <section class="about">
         <p><%= notice %></p>
        
        <p>
            これはツイッターではなく、つぶやきです。
        </p>
        </section>
        
          
